.drop-file-input {
  align-items: center;
  background-color: var(--input-bg);
  display: flex;
  height: 200px;
  justify-content: center;
  position: relative;
  width: 400px;
}

.drop-file-input input {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.drop-file-input:hover,
.drop-file-input.dragover {
  opacity: 0.6;
}

.drop-file-input__label {
  color: var(--txt-second-color);
  font-weight: 600;
  padding: 10px;
  text-align: center;
}

.drop-file-input__label img {
  width: 100px;
}

.drop-file-preview {
  margin-top: 30px;
}

.drop-file-preview p {
  font-weight: 500;
}

.drop-file-preview__title {
  margin-bottom: 20px;
}

.drop-file-preview__item {
  background-color: var(--input-bg);
  border-radius: 20px;
  display: flex;
  margin-bottom: 10px;
  padding: 15px;
  position: relative;
}

.drop-file-preview__item img {
  margin-right: 20px;
  width: 50px;
}

.drop-file-preview__item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drop-file-preview__item__del {
  align-items: center;
  background-color: var(--box-bg);
  border-radius: 50%;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  opacity: 0;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 0.3s ease;
  width: 40px;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
  opacity: 1;
}
