@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
  --body-bg: #f5f8ff;
  --border-color: #4267b2;
  --box-bg: #fff;
  --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --input-bg: #f5f8ff;
  --txt-color: #2f2d2f;
  --txt-second-color: #ccc;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: var(--body-bg);
  color: var(--txt-color);
  display: flex;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  height: 100vh;
  justify-content: center;
  line-height: 1.5;
  padding-top: 100px;
}

.box {
  background-color: var(--box-bg);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  padding: 30px;
}

.header {
  margin-bottom: 30px;
  text-align: center;
}
